<div class="card">
  <div class="card-body">
    <h4 class="card-title">Grid</h4>
    <h6 class="card-subtitle">Grid component</h6>
    <button type="button" class="btn btn-primary"
            exodoTooltip="Exodo libs">Add Row</button>
  </div>
</div>
<div class="container-fluid">
    <exodo-grid
      [columns]="columns"
      [dataSource]="dataSource"
      [showPagination]="false"
      mode="local"
      caption='caption'
    >
    </exodo-grid>
</div>

<div class="container-fluid">
      <exodo-grid
        [columns]="aColumns"
        [dataSource]="aDataSource"
        [showPagination]="false"
        mode="local"
        caption='caption xx'
      >
      </exodo-grid>
</div>
