<div class="container p-2">
<div class="card">
  <div class="card-body">
    <h4 class="card-title">Grid</h4>
    <h6 class="card-subtitle">Grid component</h6>
    <button type="button" class="btn btn-primary"
            exodoTooltip="Exodo libs">Add Row</button>
  </div>
</div>
<div class="container-fluid">
    <exodo-grid
      [columns]="columns"
      [dataSource]="dataSource"
      [showPagination]="false"
      mode="local"
      caption='caption'
    >
    </exodo-grid>
</div>

<app-grid-examples></app-grid-examples>

<div class="container-fluid">
      <exodo-grid
        [columns]="aColumns"
        [dataSource]="aDataSource"
        [showPagination]="false"
        [customBody]="true"
        [customHeader]="true"
        mode="local"
        caption='caption xx'
      >
        <tr #tableHeader>
          <td>ss1</td>
          <td>2</td>
          <td>3</td>
        </tr>
        <tr>
          <td>
            <button type="button" class="btn btn-primary"
                    exodoTooltip="Exodo libs">Add Row</button>
          </td>
          <td>
            <button type="button" class="btn btn-primary"
                    exodoTooltip="Exodo libs">Add Row</button>
          </td>
          <td>3</td>
        </tr>
        <tr>
          <td>1</td>
          <td>2</td>
          <td>3</td>
        </tr>
        <tr>
          <td>1</td>
          <td>2</td>
          <td>3</td>
        </tr>
      </exodo-grid>
</div>
</div>